.folder-icon {
    background: url('/public/assets/folder-icon.png') no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
  }
  
  .file-icon {
    background: url('/public/assets//file-icon.png') no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
  }
  