<!-- modal.component.html -->
<div class="modal" tabindex="-1" style="display: block;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirmation</h5>
          <button type="button" class="btn-close" (click)="onCancel()"></button>
        </div>
        <div class="modal-body">
          <p>{{ message }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
          <button type="button" class="btn btn-primary" (click)="onConfirm()">Delete</button>
        </div>
      </div>
    </div>
  </div>
  